# Task 4.9 Part 1

3. Import Libraries/ Data
4. Data Wrangling 
5. Data Quality
6. Combine Data
9. Export As Pickle

In [1]:
# 3 Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# 3 Import Data
path = r'C:\Users\419182\8-10-2022 Instacart Basket Analysis'

In [3]:
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [19]:
df_customer.shape

(206209, 10)

# 4 Data Wrangling

In [4]:
# check for missing values 
df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_customer['fam_status'].value_counts(dropna = False)

married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: fam_status, dtype: int64

In [6]:
df_customer['First Name'].value_counts(dropna = False)

NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: First Name, Length: 208, dtype: int64

In [7]:
# rename columns 
df_customer.rename(columns = {'n_dependants': 'number_dependants'}, inplace = True)

In [8]:
# check 
df_customer.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'number_dependants', 'fam_status', 'income'],
      dtype='object')

In [9]:
# look at data types
df_customer.describe()

             user_id            Age  number_dependants         income
count  206209.000000  206209.000000      206209.000000  206209.000000
mean   103105.000000      49.501646           1.499823   94632.852548
std     59527.555167      18.480962           1.118433   42473.786988
min         1.000000      18.000000           0.000000   25903.000000
25%     51553.000000      33.000000           0.000000   59874.000000
50%    103105.000000      49.000000           1.000000   93547.000000
75%    154657.000000      66.000000           3.000000  124244.000000
max    206209.000000      81.000000           3.000000  593901.000000

In [10]:
# change data type of user id column because we will not need it for calculation
df_customer['user_id'] = df_customer['user_id'].astype('str')

In [11]:
# check shape 
df_customer.shape

(206209, 10)

In [12]:
# drop columns not needed (Name and Surname)
df_customer2 = df_customer.drop(columns = ['First Name', 'Surnam'])

In [13]:
# check 
df_customer2.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'number_dependants',
       'fam_status', 'income'],
      dtype='object')

# 5 Data Quality

In [14]:
# check for mixed data types
for col in df_customer2.columns.tolist():
  weird = (df_customer2[[col]].applymap(type) != df_customer2[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customer2[weird]) > 0:
    print (col)

There are no mixed data types

In [15]:
# find missing values 
df_customer2.isnull().sum()

user_id              0
Gender               0
STATE                0
Age                  0
date_joined          0
number_dependants    0
fam_status           0
income               0
dtype: int64

There are no missing values

In [16]:
# check for duplicates
df_customer_dups = df_customer2[df_customer2.duplicated()]

There are no duplicates

# 6 Combine Data

In [18]:
# import ords_prods data 
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_3.pkl'))

MemoryError:

In [ ]:
# get shapes of data 
ords_prods.shape

In [ ]:
df_customer2.shape

In [ ]:
ords_prods.columns

In [ ]:
# check the user id data type in ords prods
ords_prods['user_id'].value_counts(dropna = False)

In [ ]:
# chnage the data type to string 
ords_prods['user_id'] = ords_prods['user_id'].astype('str')

In [ ]:
# merge data
All_data = df_customer2.merge(ords_prods, on = 'user_id', indicator = 'True')

In [ ]:
All_data.head()

In [ ]:
All_data.shape

In [ ]:
# check to make sure it merged properly
All_data['True'].value_counts()

In [ ]:
# 8 Export as a Pickle 
All_data.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'All_data.pkl'))