# Exercise 4.6

1. Import Libraries/ Data
2. Join
3. Export

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import Data
path = r'C:\Users\419182\8-10-2022 Instacart Basket Analysis'

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [5]:
# Get dimensions 
df_ords_prior.shape

(32434489, 4)

In [6]:
# Import Data
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [7]:
# Take a look at Data
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_orders.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,evaluation_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,prior_order
0,0,0,2539329,1,prior,1,2,8,NaN,True
1,1,1,2398795,1,prior,2,3,7,15.0,False
2,2,2,473747,1,prior,3,3,12,21.0,False
3,3,3,2254736,1,prior,4,4,7,29.0,False
4,4,4,431534,1,prior,5,4,15,28.0,False

In [9]:
# Get Dimensions 
df_orders.shape

(3421083, 10)

In [10]:
#  2 Join
df_merged_large = df_orders.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,evaluation_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [13]:
# check flag
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# 3 Export 
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))